DATABASE_URL="mysql://root:123456@127.0.0.1:3306/pc_perfect"
PORT=3001
JWT_SECRET="pcperfect_super_secret_key_2026"
CORS_ORIGIN="http://localhost:8080"
EMAIL="your_email@gmail.com"
APP_PASSWORD="your_app_pass"
OTP_EXPIRY_MINUTES=5
FRONTEND_URL="http://localhost:8080"
VNP_TMN_CODE="DEMO"
VNP_HASH_SECRET="DEMO_HASH_SECRET"
VNP_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
VNP_RETURN_URL="http://localhost:3001/api/payment/vnpay-return"
